.parent-container {

  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.child-div {
  
}


.SignUpScreen {
    width: auto ;
    height: 100%;
    position: relative;
    background: white;
    
  }
  
  .Rectangle2 {
    width: 700px;
    height: 1150px;
    left: 0;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.50);
  }
  
  .Frame43244 {
    left: 36px;
    top: 385px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    display: inline-flex;
  }
  
  .Chatter {
    color: white;
    font-size: 48px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word;
  }
  
  .UnleashThePowerOfWordsConnectWithLikeMindedReadersAndWriters {
    width: 550px;
    color: white;
    font-size: 24px;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 36px;
    word-wrap: break-word;
  }

  .Frame43250 {
    left: 818px;
    top: 30px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
  }
  
  .Frame43236 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
    display: flex;
  }
  
  .Registration {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 300px;
    display: flex;
  }
  
  .Frame49, .jug {
    color: #111111;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .Group14 {
    width: 440px;
    height: 6px;
    position: relative;
  }
  
  .Rectangle12 {
    width: 220px;
    height: 6px;
    left: 220px;
    bottom: 20px;
    position: relative;
    background: #D9D9D9;
    padding: 4px;
  }
  
  .Rectangle13 {
    width: 220px;
    height: 6px;
    bottom: 42.5px;
    position: relative;
    background: #543EE0;
    padding: 4px;
  }
  
  .RegisterAsAWriterReader {
    color: #111111;
    font-size: 32px;
    font-family: 'DM Sans';
    font-weight: 500;
    line-height: 48px;
    word-wrap: break-word;
  }
  

  .Frame43241 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
  }
  
  .Frame43237 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
  }
  
  .FirstName, .LastName {
    color: #3B3B3B;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .InputMedium {
    width: 252px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 8px;
    border: 1px #CED4DA solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  
  }
  
  .Text {
    flex: 1 1 0;
    color: #212529;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .Frame43239 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  
  .YouAreJoiningAs {
    color: #3B3B3B;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .InputMediumSelectDefault {
    width: 520px;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 12px;
    background: white;
    box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 8px;
    border: 1px #CED4DA solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .AutoLayout {
    flex: 1 1 0;
    height: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
  }
  
 
  .Frame43240 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex;
  }
  
  .EmailAddress, .Password, .ConfirmPassword {
    color: #3B3B3B;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .Frame4 {
    width: 520px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #543EE0;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
  }
  
  .CreateAccount {
    color: white;
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 27px;
    word-wrap: break-word;
  }
  
  .Frame43248, .Frame43249 {
    width: 520px;
    height: 51px;
    border-radius: 8px;
    border: 1px #D0D0D0 solid;
    justify-content: center;
    align-items: center;
    gap: 11px;
    display: inline-flex;
    
  }
  
  .SignUpWithGoogle, .SignUpWithLinkedin {
    color: #111111;
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }
      .Unsplash9pjbx5uvblg{
        height: 1150px;
      }
    .InputMedium2{
      width: 252px;
      height: 56px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: white;
      box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08);
      border-radius: 8px;
      border: 1px #CED4DA solid;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      position:relative;
      top: 10px;
    }

   .InputMedium3{
    width: 252px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 8px;
    border: 1px #CED4DA solid;
    justify-content: center;
    align-items: center;
    display: inline-flex;
   position: relative;
   bottom: 26px;
   left: 2px;
}

button {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.one{
  position: relative;
  top: 5px;
  right: 2px;
}

button {
  position: relative;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.CustomUnsplash9pjbx5uvblg {
  width: 622px;
  height: 1024px;
  left: 0;
  top: 0;
  position: absolute;
}

.CustomRectangle2 {
  width: 622px;
  height: 1024px;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.50);
}

.CustomFrame43244 {
  left: 36px;
  top: 385px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: inline-flex;
}

.CustomChatter {
  color: white;
  font-size: 48px;
  font-family: 'DM Sans';
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
}

.CustomUnleashThePowerOfWordsConnectWithLikeMindedReadersAndWriters {
  width: 550px;
  color: white;
  font-size: 24px;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 36px;
  word-wrap: break-word;
}

.CustomFrame43250 {
    
  left: 805px;
  top: 96px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 76px;
  display: inline-flex;
}

.CustomFrame43236 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 76px;
  display: flex;
}

.CustomRegistration {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.CustomFrame49 {
  width: 440px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 280px;
  display: inline-flex;
}

.CustomRegister,
.CustomLogIn {
  color: #111111;
  font-size: 16px;
  font-family: 'DM Sans';
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.CustomGroup14 {
  width: 440px;
  height: 6px;
  position: relative;
}

.CustomRectangle12 {
  width: 220px;
  height: 6px;
  left: 220px;
  top: 0;
  position: absolute;
  background: #543EE0;
}

.CustomRectangle13 {
  width: 220px;
  height: 6px;
  left: 0;
  top: 0;
  position: absolute;
  background: #D0D0D0;
}

.CustomWelcomeBack {
  color: black;
  font-size: 32px;
  font-family: 'DM Sans';
  font-weight: 500;
  line-height: 48px;
  word-wrap: break-word;
}

.CustomFrame43264 {
  left: 805px;
  top: 310px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  display: inline-flex;
}

.CustomFrame43240 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  display: flex;
}

.CustomEmailAddress,
.CustomPassword {
  color: #3B3B3B;
  font-size: 16px;
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.CustomInputMedium {
  width: 520px;
  height: 56px;
  background: white;
  box-shadow: 0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 8px;
  border: 1px #CED4DA solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 5px;
}

.CustomText {
  flex: 1 1 0;
  color: #212529;
  font-size: 16px;
  font-family: 'DM Sans';
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  position: relative;
  left: 20px;
}

.CustomAutoLayout {
  flex: 1 1 0;
  height: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.CustomIconsMediumEye {
  width: 24px;
  height: 24px;
  position: relative;
  right: 20px;
}

.CustomVector {
  width: 4px;
  height: 4px;
  left: 10px;
  top: 10px;
  position: absolute;
  border-radius: 9999px;
  border: 1.50px #212529 solid;
}

.CustomVector + .CustomVector {
  width: 18px;
  height: 10px;
  left: 3px;
  top: 7px;
  position: absolute;
  border: 1.50px #212529 solid;
}

  .CustomFrame4{
    
  }